body{
   background: linear-gradient(45deg,hwb(357 75% 0%), lch(73.39% 38.99 23.12));
    color: hwb(327 25% 34%);
    font-size: larger;
    text-shadow: 0 0 10px lab(56.48% 45.77 -9.97), 0 0 30px rgba(255,140,220,.7), 0 0 60px rgba(180,120,255,.6);
    text-align: center;
}

header{
    color: rgb(255, 255, 255);
    background-color:  hwb(327 19% 53%);;
    text-align: center;
    padding: 1px;
}

h1{
    font-size: xx-large;
}

output{
    color:  hwb(327 19% 53%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#resultado{
    background-color:  hwb(327 19% 53%);
}

button{
    background: linear-gradient(45deg, oklch(82.05% 0.15952 145.023),#db9862);
    color: lab(45.69% 50.55 -11.1);
    border-radius: 50px;
    padding: 2px 10px;
    border: black;
    font-size: 18px;
    font-weight:600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button:hover{
    transform: scale(1.08);
    background-color: oklab(76.179% -0.12434 0.10566);
}
#form{
    text-align: right;
    width: fit-content;
    margin: 0 auto;
}

input{
    border:  black 1px solid;
    width: 100px;
}