body{
    background-color: hsl(167, 84%, 83%);
    color: hwb(327 25% 34%);
    text-align: center;
}

h1{
    border: 1px, solid, hsl(0, 0%, 0%);
}

output{
    color:  hwb(327 19% 53%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: 600;
}

#resultado{
    background-color: hsl(167, 84%, 83%);
}

button{
    background-color: oklab(90.865% -0.12928 0.00415);
    color: hwb(327 19% 53%);
    padding: 6px;
    border: 1px, solid,hsl(165, 77%, 18%);
    font-size: large;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botao1{
    background-color: oklab(90.865% -0.12928 0.00415);
}
#botao1:hover{
    background-color: rgb(71, 197, 172);
}
#botao2{
    background-color: oklab(90.865% -0.12928 0.00415);
}
#botao2:hover{
    background-color: rgb(71, 197, 172);
}