body{
   background: linear-gradient(45deg,oklch(65.587% 0.127 144.821), rgb(136, 219, 208));
    color: rgb(159, 19, 194);
    font-size: larger;
    text-shadow: 0 0 10px oklab(73.869% 0.06961 0.09484), 0 0 30px rgba(255,140,220,.7), 0 0 60px rgba(180,120,255,.6);
    text-align: center;
}

h1{
    font-size: xx-large;
    text-align: center;
}

button{
    background: linear-gradient(45deg, lab(55.79% 48.04 -2.72),hwb(27 36% 12%));
    color: rgb(45, 126, 25);
    border-radius: 50px;
    padding: 7px 30px;
    border: none;
    font-size: 18px;
    font-weight:600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
button:hover{
    transform: scale(1.08);
    background-color: oklab(76.179% -0.12434 0.10566);
}